<div id="tab-goals" class="hide">
<div class="sec">Stats Overall vs Away</div>
<div class="r"><div class="rtop"><div class="lv">4.33</div><div class="mid">AVG GOALS</div><div class="rv">4.00</div></div><div class="bar"><div class="l" style="width:52%"></div><div class="rbar" style="width:48%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">8</div><div class="mid">SCORED</div><div class="rv">1</div></div><div class="bar"><div class="l" style="width:88%"></div><div class="rbar" style="width:12%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">2.67</div><div class="mid">SCORED PG</div><div class="rv">1.00</div></div><div class="bar"><div class="l" style="width:72%"></div><div class="rbar" style="width:27%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">5</div><div class="mid">CONCEDED</div><div class="rv">3</div></div><div class="bar"><div class="l" style="width:62%"></div><div class="rbar" style="width:38%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">1.67</div><div class="mid">CONCEDED PG</div><div class="rv">3.00</div></div><div class="bar"><div class="l" style="width:35%"></div><div class="rbar" style="width:65%"></div></div></div>

<div class="sec">Outcome %</div>
<div class="r"><div class="rtop"><div class="lv">0%</div><div class="mid">FAILED TO SCORE</div><div class="rv">0%</div></div><div class="bar"><div class="l" style="width:0%"></div><div class="rbar" style="width:0%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">0%</div><div class="mid">0-0 %</div><div class="rv">0%</div></div><div class="bar"><div class="l" style="width:0%"></div><div class="rbar" style="width:0%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">33%</div><div class="mid">CLEAN SHEET %</div><div class="rv">0%</div></div><div class="bar"><div class="l" style="width:33%"></div><div class="rbar" style="width:0%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">67%</div><div class="mid">BTTS %</div><div class="rv">100%</div></div><div class="bar"><div class="l" style="width:40%"></div><div class="rbar" style="width:100%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">67%</div><div class="mid">BTTS & +2.5 %</div><div class="rv">100%</div></div><div class="bar"><div class="l" style="width:40%"></div><div class="rbar" style="width:100%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">100%</div><div class="mid">BTTS OR +2.5 %</div><div class="rv">100%</div></div><div class="bar"><div class="l" style="width:100%"></div><div class="rbar" style="width:100%"></div></div></div>

<div class="sec">Total Goals %</div>
<div class="r"><div class="rtop"><div class="lv">100%</div><div class="mid">+0.5 GOALS %</div><div class="rv">100%</div></div><div class="bar"><div class="l" style="width:100%"></div><div class="rbar" style="width:100%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">100%</div><div class="mid">+1.5 GOALS %</div><div class="rv">100%</div></div><div class="bar"><div class="l" style="width:100%"></div><div class="rbar" style="width:100%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">100%</div><div class="mid">+2.5 GOALS %</div><div class="rv">100%</div></div><div class="bar"><div class="l" style="width:100%"></div><div class="rbar" style="width:100%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">100%</div><div class="mid">+3.5 GOALS %</div><div class="rv">100%</div></div><div class="bar"><div class="l" style="width:100%"></div><div class="rbar" style="width:100%"></div></div></div>

<div class="sec">Goals Scored %</div>
<div class="r"><div class="rtop"><div class="lv">100%</div><div class="mid">SCORED +0.5 %</div><div class="rv">100%</div></div><div class="bar"><div class="l" style="width:100%"></div><div class="rbar" style="width:100%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">100%</div><div class="mid">SCORED +1.5 %</div><div class="rv">0%</div></div><div class="bar"><div class="l" style="width:100%"></div><div class="rbar" style="width:0%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">33%</div><div class="mid">SCORED +2.5 %</div><div class="rv">0%</div></div><div class="bar"><div class="l" style="width:33%"></div><div class="rbar" style="width:0%"></div></div></div>

<div class="sec">Goals Conceded %</div>
<div class="r"><div class="rtop"><div class="lv">67%</div><div class="mid">CONCEDED +0.5 %</div><div class="rv">100%</div></div><div class="bar"><div class="l" style="width:67%"></div><div class="rbar" style="width:100%"></div></div></div>
<div class="r"><div class="rtop"><div class="lv">33%</div><div class="mid">CONCEDED +1.5 %</div><div class="rv">100%</div></div><div class="bar"><div class="l" style="width:33%"></div><div class="rbar" style="width:100%"></div></div></div>
</div>
